<div id="facebook_err">
There is a account with the same e-mail of your Facebook account.<br/>
You can try joining the account with Facebook
<br/><br/>
OR
<br/><br/>
You may deny to access with Facebook. <br/>
You can consider sign up without Facebook
</div>

<h3>Joining with Facebook </h3>


