<h3>From 魔鏡歌詞網</h3>
<p><%= link_to "Add All Singers", addallsingersfrommj_path %></p>
  
<h3>From coolmanmusic </h3>
<p><%= link_to "Add Singers and albums", addfromcm_path, :confirm => "You sure need to add those singers? \n (You may need to wait a period of time)"%></p>
