<li>
  
  <%= link_to album.name, album %>
  <% if signed_in? && current_user.admin? %>
  
  | <%= link_to "delete", album, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{album.name}" %>
  <% end %>
  
  
</li>
