<h2><%= @album.name %></h2>
<ol>
<% unless @album.songs.empty? %>

<% max = @album.songs.size %>
<% i = 0 %>
	<% begin %>	
	<li><%= link_to @album.songs[i].name , @album.songs[i] %> </li>
	<% i = i + 1 %>
	<% end while i < max -1 %>
  
<% end %>
</ol>

<% if signed_in? %>

<%= render 'shared/facebook_cm' %>

<% end %>